:host{
    text-align: right;
    /* font-family:"Trebuchet MS", Helvetica, sans-serif */
}
.content{
    border: 1px solid #ccc;
}
.r{
    width: 100%;
    overflow-x:hidden;
}
input{
    background-color: #EFEFEF;
}
.bb{
    box-shadow: -5px -5px 10px green;
}
   
