<div class="r a">
<div class="container">
    <div class="row mx-auto overflow-hidden">
        <div class="mx-auto mt-5"><!-- mx-auto mt-5 -->
            <!-- <button 
            routerLink="/Member-Ship"
            class="btn btn-outline-danger mx-5"
            >للعضوية</button> -->
            <button 
            routerLink="/Divine-letorogy"
            class="btn btn-outline-success bb p-3"
            >لحجز القداس</button>  
        </div>    
    </div>
</div>
</div>
<div class="r">
<div class="row mt-5 overflow-hidden mb-5"><!-- col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 mx-auto mt-5 -->
    <div class="w-75 mx-auto">
        <!-- mx-auto col-md-8 col-sm-4 col-lg-8/w-50 mx-auto / -->
            <div class="content p-3" [style]="bgcolor"
            data-aos="flip-up"
            >
                <p class="ml-3 text-center"><strong>تاكد من الاتي</strong></p>
                <ul class=" align-middle"
                 [style]="Ccolor" 
                >
                    <li> اذا كنت عضوا في الكنيسة فبرجاء حجز القداس مباشرا</li>
                    <li>واذا لم تكن عضوا في الكنيسة فبرجاء وضع بيانات العضوية ثم حجز القداس</li>
                    <li>يجب الحجز لكل الأفراد حتي الأطفال</li>
                    <li>اذا كان عمرك أقل من 10 سنة لا تستطيع الحضور بمفردك</li>
                    <li>بعد التسجيل لا يمكنك حجز قداس اخر لمدة (10 أيام) لذلك رجاءً الالتزام بالحضور</li>
                </ul>
            </div>
        </div>
</div>

<router-outlet></router-outlet>

</div>