<div class="r">
<section id="testimonials" class="p-4 bg-dark text-white mt-5">
    <div class="container">
      <h2 class="text-center" 
      >اقوال الاباء</h2>
      <div class="row text-center">
        <div class="col">
          <div class="slider">
            <div   >
              <blockquote class="blockquote">
                <p class="mb-0" 
                >
                  {{ Fathersqoutes[0].title }}
                </p>
                <footer class="blockquote-footer">
                  <cite title="Company 1"
                  
                  >{{ Fathersqoutes[0].body }}</cite>
                </footer>
              </blockquote>
            </div>
            <div >
              <blockquote class="blockquote" 
              >
                <p class="mb-0">
                  {{ Fathersqoutes[1].title }}
                </p>
                <footer class="blockquote-footer">
                  <cite title="Company 2"
                  
                  >{{ Fathersqoutes[1].body }}</cite>
                </footer>
              </blockquote>
            </div>
            <div >
              <blockquote class="blockquote">
                <p class="mb-0"
                
                >
                  {{ Fathersqoutes[2].title }}
                </p>
                <footer class="blockquote-footer">
                  <cite title="Company 3"
                  
                  >{{ Fathersqoutes[2].body }}</cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</div>