<div class="r">
<div class="container">
    <div id="accordion" class="mt-5">
      <div class="card text-center" data-aos="slide-right" 
      >
        <div class="card-header">
          <h5>
            <a href="#collapse1" data-parent="#accordion"
             data-toggle="collapse"
              style="text-decoration: none;"
              >
            {{ AccordionObj[0].title }}
            </a>
          </h5>
        </div>
        <div id="collapse1" class="collapse show">
          <div class="card-body text-justify">
            {{ AccordionObj[0].body }}
          </div>
        </div>
      </div>
      <div class="card text-center"
      data-aos="slide-left" 
      >
        <div class="card-header">
          <h5>
            <a style="text-decoration: none;"
             href="#collapse2" data-parent="#accordion"
              data-toggle="collapse"
              >
              {{ AccordionObj[1].title }}
            </a>
          </h5>
        </div>
        <div id="collapse2" class="collapse">
          <div class="card-body text-justify">
            {{ AccordionObj[1].body }}
          </div>
        </div>
      </div>
      <div class="card text-center"
      data-aos="slide-right"  
      >
        <div class="card-header">
          <h5>
            <a [style]="LinkStyle()"
             href="#collapse3" data-parent="#accordion"
              data-toggle="collapse"
              >
              قرارات المجمع 
            </a>
          </h5>
        </div>
        <div id="collapse3" class="collapse">
          <div class="card-body text-justify">
            <div >
              <strong>{{ sr[0].title }}</strong>
              <p>{{ sr[0].body }}</p>
            </div>
            <div >
              <strong>{{ sr[1].title }}</strong>
              <p>{{ sr[1].body }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center"
      data-aos="slide-left" 
      >
        <div class="card-header">
          <h5>
            <a [style]="LinkStyle()"
             href="#collapse4" data-parent="#accordion"
              data-toggle="collapse"
              >
              {{ AccordionObj[2].title }}
            </a>
          </h5>
        </div>
        <div id="collapse4" class="collapse">
          <div class="card-body text-justify">
            {{ AccordionObj[2].body }}
          </div>
        </div>
      </div>
      <div class="card text-center"
      data-aos="slide-right" 
      >
        <div class="card-header">
          <h5>
            <a [style]="LinkStyle()"
             href="#collapse5" data-parent="#accordion"
              data-toggle="collapse"
              >
              القطمارس
            </a>
          </h5>
        </div>
        <div id="collapse5" class="collapse">
          <div class="card-body text-justify">
            <div >
              <strong>{{ Katamaras[0].title }}</strong>
              <p >{{ Katamaras[0].title }}</p>
              <strong>{{ Katamaras[1].title }}</strong>
              <p >{{ Katamaras[1].title }}</p>
              <strong>{{ Katamaras[2].title }}</strong>
              <p >{{ Katamaras[2].title }}</p>
              <strong>{{ Katamaras[3].title }}</strong>
              <p >{{ Katamaras[3].title }}</p>
              <strong>{{ Katamaras[4].title }}</strong>
              <p >{{ Katamaras[4].title }}</p>
              <strong>{{ Katamaras[5].title }}</strong>
              <p >{{ Katamaras[5].title }}</p>
              <strong>{{ Katamaras[6].title }}</strong>
              <p >{{ Katamaras[6].title }}</p>
              <strong>{{ Katamaras[7].title }}</strong>
              <p >{{ Katamaras[7].title }}</p>
              <strong>{{ Katamaras[8].title }}</strong>
              <p >{{ Katamaras[8].title }}</p>
              <strong>{{ Katamaras[9].title }}</strong>
              <p >{{ Katamaras[9].title }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center"
      data-aos="slide-left" 
      >
        <div class="card-header">
          <h5>
            <a [style]="LinkStyle()"
             href="#collapse6" data-parent="#accordion"
              data-toggle="collapse"
              >
              {{ AccordionObj[3].title }}
            </a>
          </h5>
        </div>
        <div id="collapse6" class="collapse">
          <div class="card-body text-justify">
             {{ AccordionObj[3].body }} 
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>