<!-- CONTACT SECTION -->
<div class="r">
<section id="contact" class="py-3 overflow-hidden" >
    <div class="container">
      <div class="row" >
        <div class="col-md-4">
          <div class="card p-4" [style]="retstyle()" data-aos="flip-right">
            <div class="card-body " >
              <!-- <h4>للتواصل تليفونيا او جغرافيا</h4> -->
              <h4>للتواصل بخصوص الكنيسة</h4>
              <h4>العنوان</h4>
              <p>550 Main st, Boston MA</p>
              <h4>البريد الاكتروني</h4>
              <p>stmary@gmail.com</p>
              <h4>رقم التليفون</h4>
              <p>034987985</p>
              <p>034987985</p>
              <!--  -->
              <hr style="border: 2px solid #B42508;">
              <h4>للتواصل بخصوص امور الموقع</h4>
              <h4>البريد الاكتروني</h4>
              <p>stmary@gmail.com</p>
              <h4>رقم التليفون</h4>
              <p>034987985</p>
              <p>034987985</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card p-4" [style]="retstyle()" data-aos="zoom-out-up">
            <div class="card-body">
              <h3 class="text-center">للتواصل الكترونيا</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="first name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="last name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-danger btn-block">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <!-- Photos -->
<!-- <div class="r"></div>
  <section id="staff" class="py-5 text-center bg-dark text-white">
    <div class="container">
      <h1>تعرف مع من تتواصل</h1>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="img/person1.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>رافي الفي</h4>
          <small>مسؤول شؤون ادارية</small>
        </div>
        <div class="col-md-3">
          <img src="img/person2.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>رافي الفي</h4>
          <small>مسؤل الموقع</small>
        </div>
        <div class="col-md-3">
          <img src="img/person3.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>رافي الفي</h4>
          <small>اي حاجة</small>
        </div>
        <div class="col-md-3">
          <img src="img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>رافي الفي</h4>
          <small>مسؤول مشروعات</small>
        </div>
      </div>
    </div>
  </section> -->