<div class="r">
<app-divine-letorogy-membership></app-divine-letorogy-membership>
</div>
<div class="r">
    <div class="container mt-5">    
        <div class="row">
            <div class="mx-auto w-75 overflow-hidden">
                <h5 class="text-center" 
                data-aos="slide-right"
                >مراجعة الحجوزات</h5>               
                <form>
                    <div class="form-group" data-aos="slide-right">
                        <label for="name" ><strong>ادخل الرقم القومي</strong></label>
                        <input class="form-control"
                         type="text" id="name"
                          placeholder="برجاء ادخال الرقم القومي صحيح مكون من 14 رقم " >
                    </div>
                    <button class="btn btn-outline-success btn-block mb-5"
                    data-aos="slide-right"
                    >مراجعة الحجوزات السابقة</button>
                    <h5 class="text-center" data-aos="flip-up">حجز جديد</h5>
                    <div class="row mt-5 overflow-hidden mb-5"
                    data-aos="zoom-out-right"
                    ><!-- col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 mx-auto mt-5 -->
                        <div class="w-100 mx-auto">
                            <!-- mx-auto col-md-8 col-sm-4 col-lg-8/w-50 mx-auto -->
                                <div class="content p-3 " [style]="bgcolor"><!--  -->
                                    <p class="ml-3 text-center"><strong>تاكد من الاتي</strong></p>
                                    <ul  [style]="Ccolor" class=" align-middle">
                                        <li>تستطيع الحجز حتي 5 أفراد في المرة</li>
                                        <li >هذه الخاصية للتأكد من امكانية الحجز للعدد كامل اذا كنتم تريدون الحضور معاً في نفس القداس</li>
                                        <li >املأ فقط الرقم القومي للأشخاص الذين سيحضرون ولهم عضوية الكترونية مسبقاً</li>
                                        <li >املأ علي الأقل رقم قومي واحد للحجز</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="form-group" data-aos="fade-right">
                        <label for="name" ><strong>ادخل الرقم القومي</strong></label>
                        <input class="form-control" type="text" id="name" placeholder="برجاء ادخال الرقم القومي صحيح مكون من 14 رقم ">
                    </div>
                    <div class="form-group" data-aos="fade-left">
                        <label for="name" ><strong>ادخل الرقم القومي</strong></label>
                        <input class="form-control" type="text" id="name" placeholder="برجاء ادخال الرقم القومي صحيح مكون من 14 رقم ">
                    </div>
                    <div class="form-group" data-aos="fade-right">
                        <label for="name" ><strong>ادخل الرقم القومي</strong></label>
                        <input class="form-control" type="text" id="name" placeholder="برجاء ادخال الرقم القومي صحيح مكون من 14 رقم ">
                    </div>
                    <div class="form-group" data-aos="fade-left">
                        <label for="name" ><strong>ادخل الرقم القومي</strong></label>
                        <input class="form-control" type="text" id="name" placeholder="برجاء ادخال الرقم القومي صحيح مكون من 14 رقم ">
                    </div>
                    <div class="form-group" data-aos="fade-right">
                        <label for="name" ><strong>ادخل الرقم القومي</strong></label>
                        <input class="form-control" type="text" id="name" placeholder="برجاء ادخال الرقم القومي صحيح مكون من 14 رقم ">
                    </div>
                    <div class="form-group" data-aos="fade-left">
                        <label for="name" ><strong>القداس</strong></label>
                    </div>
                    <div class="form-row" data-aos="slide-up">
                        <div class="col" >
                            <select class="form-control" id="gender">
                                <option>7-8-2020</option>
                                <option>9-8-2020</option>
                            </select>
                        </div>
                        <div class="col" >
                            <select class="form-control" id="gender">
                                <option>الخميس ال 7 صباحا</option>
                                <option>الجمعة ال 9 مساءا</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-outline-success btn-block mt-5 mb-5"
                    data-aos="zoom-in-up"
                    >حجز القداس</button>
                </form> 
                <button 
                class="btn btn-light mx-auto  btn-block mb-5 " data-aos="slide-right"
                data-aos-offset=20  
                >اذا اردت ان تذهب الي عضوية الكنيسة اضغط علي <span class="sp">حجز القداسات و العضوية الكنسية</span> بالقائمة الرئيسية
                </button>
                <!-- <div class="popup mx-auto" data-aos="slide-right"
                data-aos-offset=20
                >
                    اذا ادت ان تذهب الي عضوية الكنيسة اضغط هنا
                </div> -->
            </div>   
            
    </div>
    </div>
</div>