.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  #video-play {
    position: relative;
    min-height: 200px;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
  }  
  #video-play a {
    color: #fff;
  }
  .ved{
  margin-left:200px;
  }
  .r{
    width: 100%;
    overflow-x: hidden;
  }