 <header id="page-header"
 [style]="PageHeaderStyleInfo"></header>
  <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-danger px-5"
          data-aos="fade-down"
          style="text-align: center;">{{ Content[0] }}</h1>
          <p [class]="ParaStyle()"
          data-aos="flip-up"
          >{{ Content[1] }}</p>
          <p [class]="ParaStyle()"
          data-aos="flip-down"
          >{{ Content[2] }}</p>
        </div>
        <div class="col-md-6">
          <img [src]="BgImgSrc()"
           alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
        </div>
      </div>
    </div>
  </section>

  <!-- ICON BOXES -->
  <section id="icon-boxes" class="p-5">
    <div class="container" >
      <div class="row mb-4">
        <div class="col-md-4" data-aos="flip-up">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-building fa-3x"></i>
              <h3>{{ Cards[0].title }}</h3>
              {{ Cards[0].body }}
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="flip-left">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fas fa-bullhorn fa-3x"></i>
              <h3>{{ Cards[1].title }}</h3>
              {{ Cards[1].body }}
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="flip-down">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-comments fa-3x"></i>
              <h3>{{ Cards[2].title }}</h3>
              {{ Cards[2].body }}
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4" >
        <div class="col-md-4" >
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fas fa-box fa-3x"></i>
              <h3>{{ Cards[3].title }}</h3>
              {{ Cards[3].body }}
            </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-credit-card fa-3x"></i>
              <h3>{{ Cards[4].title }}</h3>
              {{ Cards[4].body }}
            </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fas fa-coffee fa-3x"></i>
              <h3>{{ Cards[5].title }}</h3>
              {{ Cards[5].body }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>