<div class="r">
<header id="page-header"
  [style]="st">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1 style="margin-top: 100px;"
          data-aos="slide-right" 
          >تعرف علي آباء الكنيسة</h1>
          <p
          data-aos="slide-left" 
          >في وقتنا الحالي يقوم علي خدمة الكنيسة اربع اباء كهنة</p>
        </div>
      </div>
    </div>
  </header>

  <section id="blog" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-columns">
            <div class="card" >
              <img [src]="Path1" 
              
              alt="" class="img-fluid card-img-top">
              <div class="card-body">
                <h4 class="card-title"
                
                >Blog Post One</h4>
                <small class="text-muted">Written by Jeff on 05/20</small>
                <hr>
                <p class="card-text"
                
                >{{ Paragraphs[0] }}
                </p>
              </div>
            </div>
            <!--  -->
            <div class="card p-3" 
            
            >
              <blockquote class="card-blockquote card-body" >
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident amet tenetur vel quam atque est?</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">Someone Famous in
                    <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>

            <div class="card" 
            > 
              <img [src]="Path3" 
              alt="" class="img-fluid card-img-top">
              <div class="card-body">
                <h4 class="card-title" 
                >Blog Post Two</h4>
                <small class="text-muted">Written by Karen on 05/22</small>
                <hr>
                <p class="card-text" 
                >{{ Paragraphs[1] }}
                </p>
              </div>
            </div>
            <div class="card" 
            >
              <img [src]="Path2"
              
              alt="" class="img-fluid card-img-top">
              <div class="card-body">
                <h4 class="card-title" >Blog Post One</h4>
                <small class="text-muted">Written by Jeff on 05/20</small>
                <hr>
                <p class="card-text" >{{ Paragraphs[2] }}
                </p>
              </div>
            </div>
            <div class="card p-3 bg-danger text-white" 
             
            >
              <blockquote class="card-blockquote card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident amet tenetur vel quam atque est?</p>
                <footer class="blockquote-footer">
                  <small class="text-white">Someone Famous in
                    <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>

            <div class="card"   
            >
              <img  [src]="Path4" alt=""
               
              class="img-fluid card-img-top">
              <div class="card-body">
                <h4 class="card-title" >Blog Post Three</h4>
                <small class="text-muted">Written by Harry on 05/23</small>
                <hr>
                <p class="card-text" 
                >{{ Paragraphs[3] }}
                </p>
              </div>
            </div>

            <div class="card p-3" 
            >
              <blockquote class="card-blockquote card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident amet tenetur vel quam atque est?</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">Someone Famous in
                    <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>